* {
    box-sizing: border-box;
}

body{
    font-size: 0;
    height: 190vh;
    width: 97vw;
    margin: 0;
    background-color:black;
}

.fullContainer{
    font-size: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: black;
}

.headContainer{
    background-color: black;
    height: 12%;
    width: 100%;
    display: block;

}

.logo {
    display: inline-block;
    position: relative;
    left: 2%;
    height: 90%;
    width: 20%;
}
.instruction{
    height:35%;
    position:absolute;
    left:40%;
    top:3%;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 2vw;
    
}
.find {
    position: relative;
    left: 5%;
    vertical-align: bottom;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 4vw;
    
}

.flix {
    position: relative;
    left: 5%;
    vertical-align: bottom;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: rgb(255, 72, 0);
    font-size: 4vw;
}

.search {

    position: relative;
    display: inline-block;
    height: 84%;
    width: 20%;
    top: 5%;
    left: 52%;

}

.search > input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    height: 40%;
    padding: 12px 20px;
    border-radius: 4px;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 85%;
    width: 100%;
    background-color: black;
}

.modalPageContainer {
    background-color: hsl(0, 0%, 0%, .4);
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
}

.modalContainer {
    border-radius: 2px;
    font-size: 0;
    background-color: black;
    position: absolute;
    display: inline-block;
    left: 10%;
    top: 2.5%;
    height: 93%;
    width: 80%;
    -webkit-box-shadow: 0px 0px 15px 15px rgba(255, 255, 255, 0.267);
    -moz-box-shadow: 0px 0px 15px 15px rgba(255, 255, 255, 0.267);
    box-shadow: 0px 0px 10px 10px rgb(255, 255, 255, .4);
}

.modalBody {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    border: 1px solid black;
    height: 100%;
    width: 70%;

}

.movieContent {
    border-radius: 2px;
    position: relative;
    display: inline-block;
    border: 1px solid black;
    height: 100%;
    width: 30%;

}

.movieTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    border: 1px solid white;
    position: relative;
    font-size: 1.65vw;
    left: 10%;
    top: 5%;
    font-weight: bold;
    border: 1px solid black;
    display: inline-block;
    height: 10%;
    width: 80%;

}

.movieDescription {
    overflow: auto;
    position: relative;
    display: inline-block;
    top: 8%;
    left: 10%;
    color: white;
    font-size: 1vw;
    background-color: black;
    height: 50%;
    width: 80%;
}

.findButtonContainer {
    position: relative;
    display: inline-block;
    top: 15%;
    left: 10%;
    height: 19%;
    width: 100%;
    
}

.findTickets {
    position: relative;
    display: inline-block;
    font-size: 2vw;
    color: white;
    position: relative;
    display: inline-block;
    border-radius: 3%;
    background-color: rgb(255, 72, 0);
    height: 100%;
    width: 80%;
}

.trailerContainer {
    vertical-align: top;
    font-weight: bold;
    font-size: 0;
    border: 1px solid black;
    display: inline-block;
    height: 70%;
    width: 100%;

}

.modalClose {
    background-color: hsl(0, 0%, 0%, .0);
    box-sizing: border-box;
    right:-5%;
    z-index: 1;
    border-style: none;
    display: inline-block;
    font-weight: normal;
    position: absolute;
    height: 7%;
    top: 1%;
    width: 5%;
    font-size: 2vw;
    color:white;
    
}

.modalFooter {
    /* border: 1px solid white; */
    background-color: black;
    display: inline-block;
    position: relative;
    height: 30%;
    width: 100%;
}

.movieInfoContainer{
    background-color: black;
    font-size: 20px;
    height: 86vh;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.posterContainer{
    background-color: black;
    height: 48%;
    width: 15%;
    color: white;
    margin:0.9%;

}
.boxTitle{
    font-size: 20px;
    height: 15%;
    width: 100%;
    text-align: center;
}

.details{
    font-size: 20px;
    height: 25%;
    width: 100%;
    text-align: center;


}
.poster{
    height: 100%;
    width: 100%;
    background-size: cover;
    display: inline-block;
    position: relative;

}

.poster:hover {
    
    -webkit-box-shadow: 0px 0px 10px 10px rgb(255, 255, 255, .4);
    -moz-box-shadow: 0px 0px 10px 10px rgb(255, 255, 255, .4);
    box-shadow: 0px 0px 10px 10px rgb(255, 255, 255, .4);
}

.castMemberNameContainer {
    position: absolute;
    top: 2%;
    font-size: 1vw;
    color: white;
    text-align: center;
    height: 10%;
    width: 100%;
}
.castMemberContainer {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 20%;
}

.actorImage {
    border: 1px solid rgba(255, 255, 255, 0.35);
    height: 70%;
    width: 65%;
    position: absolute;
    display: inline-block;
    top: 17%;
    left: 18%;
}



.iframeContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.youtubeIframe {
    
    height: 100%;
    width: 100%;
}
.map-main-container{
    height:100vh;
    width:80vw;
    margin:auto;
}
/* .nav-header{
    height:20%;
    width:100%;
}
.map-nav{
    display:inline-block;
    vertical-align: top;
    height:100%;
    width:30%;
    background-color: beige;
}
.nav-body{
    width:100%;
    height:80%;
} */
.map-container{
    display:inline-block;
    width:70%;
    height: 100%;
    background-color: lightsalmon;
}

#map{
    height: 100%;
}

.loading {
    display: none;
    position: absolute;
    top: 40%;
    left: 38%;
    width: 20%;
    height: 20%;
  }
  
.loading div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loading div:nth-child(1) {
    left: 40%;
    animation-delay: -0.24s;
}
.loading div:nth-child(2) {
    left: 50%;
    animation-delay: -0.12s;
}
.loading div:nth-child(3) {
    left: 60%;
    animation-delay: 0;
}

  @keyframes loading {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }