body{
    font-size: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.fullContainer{
    height: 100%;
    width: 100%;
    display: flex;
}

.leftNavContainer{
    border: 1px solid black;
    height: 100%;
    width: 20%;
}

.headContainer{
    background-color: black;
    height: 15%;
    width: 100%;
}



.mainContainer{
    border: 1px solid darkred;
    height: 100%;
    width: 100%;
}


.modalPageContainer {
    background-color: hsl(0, 0%, 0%, .4);
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.modalContainer {
    font-size: 0;
    background-color: black;
    position: absolute;
    display: inline-block;
    left: 10%;
    top: 5%;
    height: 90%;
    width: 80%;
}

.modalBody {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    border: 1px solid black;
    height: 100%;
    width: 70%;

}

.movieContent {
    position: relative;
    display: inline-block;
    border: 1px solid black;
    height: 100%;
    width: 30%;

}

.movieTitle {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    border: 1px solid white;
    position: relative;
    font-size: 4rem;
    left: 10%;
    top: 5%;
    font-weight: bold;
    border: 1px solid black;
    height: 15%;
    width: 80%;

}

.movieDescription {
    position: relative;
    display: inline-block;
    left: 10%;
    color: white;
    font-size: 1.75rem;
    background-color: black;
    height: 30%;
    width: 80%;
}

.findButtonContainer {
    position: absolute;
    display: inline-block;
    top: 75%;
    left: 10%;
    height: 20%;
    width: 100%;

}

.findTickets {
    font-size: 3rem;
    color: white;
    position: relative;
    display: inline-block;
    border-radius: 3%;
    background-color: rgb(255, 72, 0);
    height: 100%;
    width: 80%;
}

.trailerContainer {
    vertical-align: top;
    font-weight: bold;
    font-size: 0;
    border: 1px solid black;
    display: inline-block;
    height: 70%;
    width: 100%;

}

.modalClose {
    background-color: black;
    box-sizing: border-box;
    right:0;
    z-index: 1;
    opacity: .5;
    border-style: none;
    display: inline-block;
    position: absolute;
    font-weight: 300;
    height: 5%;
    width: 5%;
    font-size: 3rem;
    color:white;
    
}

.modalFooter {
    /* border: 1px solid white; */
    background-color: black;
    display: inline-block;
    position: relative;
    height: 30%;
    width: 100%;
}
.testDiv{
    font-size: 20px;

}
.poster{
    height: 100px;
    width: 100px;
    float: left;
    background-size: cover;
    background-position: center;
}

.actorImage {
    position: relative;
    display: inline-block;
    margin: 2.5% 0 0 4%;
}

.iframeContainer {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.youtubeIframe {
    
    height: 100%;
    width: 100%;
}